.grid {
    margin: 3% auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    }
    
    .card1 { grid-area: 1 / 1 / 2 / 2; }
    .card2 { grid-area: 1 / 2 / 2 / 3; }
    .card3 { grid-area: 2 / 1 / 3 / 3; }

    body{
        font-weight: 300;
        color: rgb(85, 8, 75);
    }
    .card1 {
        border: 3px solid rgb(223, 0, 186);
        border-radius: 10%;
        padding: 1%;
        box-shadow: -22px -21px 6px -5px  rgba(223, 0, 186, 0.308);
    }
    .title_card1 {
        padding-left: 5%;
    }
    .line {
        background-color: rgb(223, 0, 186);
        height: 3px;
    }
    .text_card1 {
        padding-left: 5%;
        padding-right: 5%;
        text-align: justify;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 90%;
    }
    .btn_card1 {
        padding: 3% 15% ;
        background-color: rgb(223, 0, 186);
        color: white;
        font-weight: 500;
        border: none;
        cursor: pointer;
        margin: 5% auto;
    }
    .btn_card1:hover {
        background-color: rgb(255, 7, 214);
    }
    .conatiner_btn_card1 {
        display: flex;
        justify-content: center;
    }
    .card2 {
        border: 3px solid rgb(223, 0, 186);
        box-shadow: 0px 0px 15px  rgba(223, 0, 186, 0.514);;
    }
    .title_card2 {
        padding: 1%;
    }
    .text_card2 {
        padding: 2%;
    }
    .bg_image_card2 {
        background-image: url("card2.jpeg");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
       width: 100%; 
       height: 50%;
    }
    .card3 {
        margin: 0 auto;
        border: 3px solid rgb(223, 0, 186);
        height: 100%;
        display: flex;
    }
    .bg_image_card3 {
        background-image: url("card3.jpg");
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        
        height: 100%;
        width: 100%;
    }
    .text_card3 {
        font-size: 120%;
        padding: 5%;
    }
    .title_card3 {
        font-size: 120%;
        padding: 5%;
    }
    .btn_card3 {
        padding: 2% 15% ;
        background: rgb(223, 0, 186);
        color: white;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }
    .btn_card3:hover {
        background: rgb(255, 0, 212);
    }
    .conatiner_btn_card3 {
        display: flex;
        justify-content: end;
        padding: 5%;
    }